body {
  background-image: linear-gradient(black, grey, white);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* foto del header */
#logo-container img {
  width: 100%;
  height: auto;
}


/* parte del biography */
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
/*fin del biography*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: Arial, Helvetica, sans-serif;
}

/** menu **/
.menu {
  width: 100%;
  background: rgb(8, 8, 8);
  overflow: auto;

}
.menu .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 100px;
}

.menu ul li {
  float: left;
}

.menu ul li a {
  text-decoration: none;
  width: 100px;
  display: block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.menu ul li a:hover {
  color: #ff00bb;
}

.toggle-nav {
  color: #fff;
  text-decoration: none;
  display: none;
}

.social {
  float: right;
  margin-right: 100px;
  line-height: 70px;
}

.social a {
  max-width: 50px;
  text-align: center;
}

.social a i {
  font-size: 20px;
  background: #ff00bb;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #000;
  border-radius: 50%;
  margin: 5px;
}

.social a i:hover {
  background: rgba(0, 0, 0, 0.9098039216);
  color: rgb(255, 255, 255);
}

@media (max-width: 1200px) {
  .toggle-nav {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
  }
  .menu ul li a {
    width: 100%;
  }
  .menu ul li {
    float: none;
    width: 100%;
    display: none;
  }
  .social {
    width: 100%;
    text-align: center;
    border-top: 1px solid #fff;
    float: none;
  }
}
@media (min-width: 320px) {
  .menu ul li {
    display: block;
  }
}
/** FIN menu **/


/** DEL BIOGRAPHY SLIDE **/
.carousel-item {
  min-height: 400px;
  background: no-repeat scroll center scroll;
  background-size: cover;
  width: 300px;
height: 350px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100px;
}


/** DEL BIOGRAPHY SLIDE **/


/** news **/
/* footer*/ /* footer*/ /* footer*/ /* footer*/ /* footer*/ /* footer*/
footer {
  width: 100%;
  bottom: -2900px;
  left: 0;
  padding: 2rem 8%;
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icons-container, .footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.social-icon:hover {
  background-color: #1026ea;
  filter: invert(1);
}

.footer-menu-container {
  list-style-type: none;
  color: white;
  font-size: 18px;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copyright {
  color: #f2f2f2;
  opacity: 0.3;
  text-align: center;
}

/* footer*/ /* footer*/ /* footer*/ /* footer*/

@media screen and (min-width: 320px) {
  .footer,
.col-2,
.col-3,
form button {
    flex-wrap: wrap;
  }
  form input {
    flex-wrap: wrap;
  }
}

/** del news*/
* {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}


.btn-btn-primary-btn-sm
 {
  background-color:#ff00bb;
  border-color: #ff00bb;
  color: white;
  padding: 4px;
  text-align: center;
  font-size: 14px;
  border-radius: 7px;
  border-bottom: #ff00bb;
}


.about-text{
  color: white;
  font-size: 20px;
  margin: 30px auto;
  text-align: center;
}

/** FIN del news*/

  @media only screen and (max-width: 1200px) {
    .about {
      width: 100%;
    
  }
}

/* del about */
.container-fluid{
  width: 100%;
  padding: 100px 0px;
  display: flex;
 
}
.image-fluid {
  height: auto;
  width: 100%;
}


@media screen and (min-width: 320px) {
  .about-text h4  {
    font-size: 30px;
 }
}

.about-text h2 {
  color: #ff00bb;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 90px;
  text-align: center;
}

.about-text h4 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
  padding-left: 15px;
  padding-right: 24px;
  text-align: center;


}

.about-text p {
  color:white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  padding-right: 150px;
  padding-left: 20px;
  text-align: justify;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

/* termina del about */

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}


/* formulario  responsive */


* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;

}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color:#ff00bb
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color:#ff00bb;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-top: 50px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout */
@media screen and (max-width: 1200px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* media */

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}




}